In [1]:
#https://pyformat.info/

In [4]:
print('{1} najsndaj {0}'.format(1,2))

2 najsndaj 1

In [2]:
#replace

In [5]:
'Bruno;Miura;8172381;jashdbahsb'.replace(';','|')

'Bruno|Miura|8172381|jashdbahsb'

In [6]:
'área'.replace('á','a')

'area'

In [7]:
'asdasdasdasdasd'.replace('as','xxxxxx')

'xxxxxxdxxxxxxdxxxxxxdxxxxxxdxxxxxxd'

In [1]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [10]:
ord('á')

225

In [15]:
print(chr(300002))

񉏢

In [16]:
texto = "ALGO DE ERRАDO NÃO ESTÁ CERTO?!"

In [17]:
print(texto)

ALGO DE ERRАDO NÃO ESTÁ CERTO?!

In [18]:
for letra in texto:
    print("A letra %s é o número %d" %(letra,ord(letra)))

A letra A é o número 65
A letra L é o número 76
A letra G é o número 71
A letra O é o número 79
A letra   é o número 32
A letra D é o número 68
A letra E é o número 69
A letra   é o número 32
A letra E é o número 69
A letra R é o número 82
A letra R é o número 82
A letra А é o número 1040
A letra D é o número 68
A letra O é o número 79
A letra   é o número 32
A letra N é o número 78
A letra Ã é o número 195
A letra O é o número 79
A letra   é o número 32
A letra E é o número 69
A letra S é o número 83
A letra T é o número 84
A letra Á é o número 193
A letra   é o número 32
A letra C é o número 67
A letra E é o número 69
A letra R é o número 82
A letra T é o número 84
A letra O é o número 79
A letra ? é o número 63
A letra ! é o número 33

In [20]:
#funções nativas do python

In [21]:
print
range
enumerate
input
dir
help

Type help() for interactive help, or help(object) for help about object.

In [22]:
print('asjdnas')

asjdnas

In [23]:
print('Hello World!')

Hello World!

In [25]:
def ola():
    print('Hello World!')

In [26]:
ola()

Hello World!

In [27]:
def boas_vindas(nome):
    resposta = 'Olá aluno ' + nome
    print(resposta)

In [29]:
boas_vindas('Andre')

Olá aluno Andre

In [30]:
def boas_vindas2(nome):
    resposta = 'Olá aluno ' + nome
    return resposta

In [33]:
mensagem = boas_vindas2('Andre')

In [34]:
print(mensagem)

Olá aluno Andre

In [35]:
def quadrado(n):
    return n ** 2

In [39]:
x = quadrado(5)

In [40]:
print(x)

25

In [41]:
def media(p1,p2,p3):
    resp = (p1 + p2 + p3)/3
    return resp

In [47]:
calc_media = media(1,2,3)

In [48]:
print('%.2f' %(calc_media))

2.00

In [49]:
print('%.2f' %(media(1,2,3)))

2.00

In [50]:
#recursão

In [51]:
def fat(n):
    if n < 2:
        return 1
    else:
        return n * fat(n - 1)

In [53]:
for i in range(10):
    print(fat(i))

1
1
2
6
24
120
720
5040
40320
362880

In [57]:
print('asd',end='@')
print('qwe',end='Miura')
print('asdka')
print('xxxxx')

asd@qweMiuraasdka
xxxxx

In [58]:
v = [2,3,4,61,2,3,4]

In [62]:
sorted(v)[::-1]

[61, 4, 4, 3, 3, 2, 2]

In [67]:
def ordena(lista,ordem=1):
    return sorted(lista)[::ordem]

SyntaxError: non-default argument follows default argument (<ipython-input-67-9d21a129f866>, line 1)

In [66]:
ordena(v,-1)

[61, 4, 4, 3, 3, 2, 2]

In [68]:
def test(a,b,c=0,d=1,e=2):
    return a + b + c + d + e

In [92]:
test(1,2,e=3)

7

In [ ]:
*args
**kargs

In [72]:
def test_args(*x):
    return x

In [78]:
type(test_args(1,2,3,4,5,2,5,4,34,2))

tuple

In [79]:
def test_args(*x):
    for i in x:
        print(i)
    return x

In [80]:
test_args(1,2,3,4,5,2,5,4,34,2)

1
2
3
4
5
2
5
4
34
2

(1, 2, 3, 4, 5, 2, 5, 4, 34, 2)

In [81]:
def test_kargs(**x):
    return x

In [85]:
test_kargs(a=1,b=3,c='ajsndjans',d=[1,2,3])

{'a': 1, 'b': 3, 'c': 'ajsndjans', 'd': [1, 2, 3]}

In [88]:
def xxx(a,v,*x,y=0):
    return a,v,x,y

In [91]:
xxx(1,2,3,y=1)

(1, 2, (3,), 1)

In [97]:
def x(a):
    if type(a) == int:
        return 2 + a
    else:
        return 'valor incorreto'

In [100]:
x(1.2)

'valor incorreto'

In [101]:
a = 1
b = 3

In [102]:
a,b = b,a

In [103]:
a

3

In [104]:
b

1

In [106]:
a,b,c,d = xxx(1,2,3,y=1)

In [107]:
a

1

In [108]:
b

2

In [109]:
c

(3,)

In [111]:
d

1

In [112]:
def quadrado(n):
    return n ** 2

In [114]:
def retangulo(b,h):
    return b * h

In [117]:
def tudo(func,a,b=0):
    if b == 0:
        print(func(a))
    else:
        print(func(a,b))

In [119]:
tudo(retangulo,2,4)

8