In [ ]:
#laços
for 
while

In [1]:
for incremento in range(10):
    print(incremento)

0
1
2
3
4
5
6
7
8
9

In [2]:
v = [1,2,3]

In [3]:
for i in v:
    print(i)

1
2
3

In [9]:
n = int(input())
v = list(range(1,n+1))
result = 1
for i in v:
    result = result * i    
print(result)

5
120

In [10]:
v = ['asda','jsdjan','asdjashd']

In [11]:
for i in v:
    print(i)

asda
jsdjan
asdjashd

In [17]:
l = ['morango','banana','maça','melancia']
for indice,valor in enumerate(l,1000):
    print(indice)
    print(valor)
    print('-'*30)

1000
morango
------------------------------
1001
banana
------------------------------
1002
maça
------------------------------
1003
melancia
------------------------------

In [28]:
i = 0
while i < 20:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [29]:
while True:
    print('oi')
    break

oi

In [33]:
list(range(10,51,3))

[10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [1]:
#leiam um número 
#imprima a tabuada desse número de 0 a 10 só que de todos os números até o número informado
n = 5

In [4]:
n = eval(input('Informe um valor:\n'))
for tabuada in range(0,n+1):
    for i in range(0,11):
        print('%d X %d = %d' %(tabuada,i,tabuada * i))
    print('-'*30)

Informe um valor:
5
0 X 0 = 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
------------------------------
1 X 0 = 0
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
------------------------------
2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
------------------------------
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
------------------------------
4 X 0 = 0
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
------------------------------
5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
------------------------------

In [5]:
n = eval(input('Informe um valor:\n'))
tabuada = 0
while tabuada < n + 1:
    i = 0
    while i < 11:
        print('%d X %d = %d' %(tabuada,i,tabuada * i))
        i = i + 1
    print('-' * 30)
    tabuada = tabuada + 1

Informe um valor:
3
0 X 0 = 0
0 X 1 = 0
0 X 2 = 0
0 X 3 = 0
0 X 4 = 0
0 X 5 = 0
0 X 6 = 0
0 X 7 = 0
0 X 8 = 0
0 X 9 = 0
0 X 10 = 0
------------------------------
1 X 0 = 0
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
------------------------------
2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
------------------------------
3 X 0 = 0
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
------------------------------